body {
    padding-top: 60px;
}

th.inbox-from {
    width: 200px;
}

td > span.label:last-child {
    margin-right: 10px;
}

.reading-pane {
	padding-top: 60px;
	position: relative;
}

.reading-pane h4 {
	margin-top: 0;
	margin-bottom: 15px;
}

.reading-pane h5 {
	margin-top: 0;
}

.reading-pane hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.reading-pane .subnav {
	padding-left: 0px;
	padding-right: 0px;
	position: absolute;
	top: 15px;
	left: 0;
	height: 36px;
	width: 100%;
}

.reading-pane .subnav i {
	padding-right: 5px;
	position: relative;
	top: 1px;
}

div.subnav-inverse {
  	background-color: #45a1de;
  	background-image: linear-gradient(to bottom,#3498db,#5faee3);
  	border-radius: 0px;
}

div.subnav-inverse .nav > li > a {
	color: #ecf0f1;
	border-radius: 0px;
}

div.subnav-inverse .nav > li > a:hover {
  	color: #ecf0f1;
  	background-color: #45a1de;
}

div.subnav-inverse .nav > .active > a,
div.subnav-inverse .nav > .active > a:hover {
  	color: #ecf0f1;
  	background-color: #45a1de;
}

@media (max-width: 767px) {
  	div.subnav-inverse .nav > li:first-child > a:hover,
  	div.subnav-inverse .nav > li + li > a:hover {
	  	background-color: #45a1de;
  	}
}

span.label-inverse {
	background-color: #2c2c2c;
}

div.editbinding-modal {
	width: 718px;
	margin-left: -359px;
}

div.editbinding-modal .form-horizontal .control-group {
	margin-bottom: 0px;
}

div.editbinding-modal .form-horizontal .control-label {
	padding-top: 0px;
	line-height: 36px;
}

div.modal-body {
    overflow: visible;
}

.control-group.error .input-xlarge {
    border-color: #e74c3c;
}

.keyboard-container {
	height: 250px;
}

#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}

#keyboard li {
	color: #fff;
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #33485d;
	background-image: linear-gradient(top bottom,#2c3e50,#3e5771);
	border: 1px solid #000;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#keyboard li.active {
    background-color: #1dccaa;
    background-image: linear-gradient(top bottom,#18bc9c,#24e3be);
}

.capslock, .tab, .left-shift {
	clear: left;
}

#keyboard .tab, #keyboard .delete {
	width: 70px;
}

#keyboard .ctrl {
	width: 80px;
}

#keyboard .return {
	width: 77px;
}

#keyboard .left-shift {
	width: 95px;
}

#keyboard .right-shift {
	width: 109px;
}

.lastitem {
	margin-right: 0;
}

.uppercase {
	text-transform: uppercase;
}

#keyboard .space {
	clear: left;
	width: 681px;
	color: transparent;
}

.on {
	display: none;
}

#keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	cursor: pointer;
}

.keybinding-list code {
    margin-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    top: 1px;
}
