<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Keys.js{% if page.title }%} - {{page.title}}{% endif %}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="index.html">Keys.js</a></h1>
        <p>Easy keybindings for browser applications!</p>
        <p class="view"><a href="https://github.com/bitwalker/keys.js">View the Project on GitHub <small>bitwalker/keys.js</small></a></p>
        <ul>
          <li><a href="examples.html">View <strong>Examples</strong></a></li>
          <li><a href="api.html">Read The <strong>Docs</strong></a></li>
          <li><a href="https://github.com/bitwalker/keys.js/zipball/master">Download <strong>ZIP</strong></a></li>
          <li><a href="https://github.com/bitwalker/keys.js">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{content}}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/bitwalker">bitwalker</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>